<html>
<head></head>
<body>
<div style="margin:0 auto;max-width:600px;">
  <br>
  <p> Contact Name : <%= contactName %></p>
  <p> Company Name : <%= companyName %></p>
  <p> Message : </p>
  <hr>
  <p><%= message %></p>
  </br></br>
  Thanks
</div>
</body>
</html>
