.is-horizontal-center {
  justify-content: center;
}

.is-vertical-center {
  align-items: center;
}

.checkbox input,
.radio input {
  margin-right: 5px;
}

.radio {
  margin-left: 0 !important;
}

.error-field {
  margin-bottom: 0.75rem;
}


.mt-1 {
  margin-top: 5px;
}

.mt-2 {
  margin-top: 10px;
}
