

// Remotes
@import url("https://use.typekit.net/hfr6qsf.css");

// Variables
@import 'variables/media';
@import 'variables/colors';
@import 'variables/type';
@import 'variables/mixins';

// Libraries
@import 'libraries/baseline';
@import 'libraries/print';
@import 'libraries/schemes';

// Components
@import 'components/navigation';
@import 'components/backgrounds';
@import 'components/icons';
@import 'components/grid_iconblocks';
@import 'components/team_headshots';
@import 'components/callout';
@import 'components/tabs';
@import 'components/team_members';
@import 'components/interactions';
@import 'components/case_study';
@import 'components/case_study_list';
@import 'components/features';

// Layouts
@import 'layouts/header';

@import 'layouts/sections';

@import 'layouts/contact';


@import 'layouts/footer';

// Animations
@import 'animation/init_timeline';
// @import 'animation/nuxt_transitions';



.page_cityzen_index {}
.page_cityzen_support {}
.page_cityzen_buy {}
.page_products {}
.page_wordsmith {}
.page_services {}
.page_service_design {}
.page_service_engineering {}
.page_work_index {}
.page_work {}
.page_about {}
.page_pricing {}
.page_contact {}
.page_terms {}
.page_privacy {}
.page_index {}


// .home {
//   header {
//     .wrap {
//       background: url(~assets/images/shapes/circle.svg) 100% 50% no-repeat;
//       background-size: 800px auto;
//     }
//   }
// }

body {

  // background: linear-gradient(347deg, #0b0a17 0%, #16202a 100%) ;
  background: $color-base;
  color: $color-grey-2;
  h1,h2,h3,h4,h5,h6 {
  	color: $color-grey-3;
  }
  .text {
    color: $color-grey;
  }
  .navigation menu li.active a:before {
    background: #fff;
  }
  h4 {
  	color: #fff;
  }
  h5 {
  	color: $color-green;
  }
  a {
    color: $color-grey-2;
  }
  .button {
    color: #fff;
  }
  .icon-github {
    background-image: url("~assets/images/icons/icon-github-light.svg");
  }
  .icon-behance {
    background-image: url("~assets/images/icons/icon-behance-light.svg");
  }
  .icon-dribbble {
    background-image: url("~assets/images/icons/icon-dribbble-light.svg");
  }
  .grid-iconblocks article .content .description,
  footer {
    color: $color-base-5;
  }

}





.squish {
  margin: 0 5rem;
}






main {
  section {

  }
  article {
    .title {}
  }
}





menu {
  &.client_list {}
  &.product_list {}
}








// Used at top of pricing page
.title_bar {
  display: grid;
  grid-template-columns: 1fr 3rem;
  grid-template-rows: auto;
  grid-template-areas: "title title-meta";
  grid-gap: 2rem;
  margin: 0 0 1rem;
  .title {
    grid-area: title;
    position: relative;
    padding-left: 5rem;
    &:before {
      display: block;
      content: ' ';
      width: 3rem;
      position: absolute;
      top: 0.65rem;
      left: 0rem;
      height: 0.2rem;
      border-radius: 0.2rem;
      background: $color-base-3;
    }
    h4 {
      color: $color-green;
      margin: 0 0 0.75rem;
    }
    h2 {
      @include font-serif;
      font-size: 1.7rem;
    }
    a {
      text-decoration: none;
      &:hover {
        text-decoration: none;
        border-bottom: 3px solid $color-green;
      }
    }
  }
  .meta {
    display: flex;
    grid-area: title-meta;
    width: 3rem;
    justify-content: center;
    position: relative;
    img {
      display: block;
      width: 2rem;
      height: 2rem;
    }
  }
}






// Text titles

.headline {
  margin-left: 5rem;
  max-width: 65ch;
  p {
    font-size: 1.5rem;
    @include font-light;
    color: $color-grey;
  }
  h3 {
  	margin: 0 0 1rem;
  	font-size: 2.3rem;
  	line-height: 1.1;
  	@include font-serif-black-headline;
  }
}

.titleblock {
  // margin: 4rem 0 0;
  padding: 5rem 2rem 0rem;
  h5 {
    &:before {
      content: ' ';
      display: block;
      width: 2rem;
      height: 0.2rem;
      background-color: $color-base-3;
      position: relative;
      top: -1rem;
      left: 50%;
      margin-left: -1rem;
    }
  }
}







// Used on about page
.split-content {
  display: grid;
  margin: 0rem 5rem 4rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "area-1 area-2";
  grid-gap: 4rem;
  // align-items: center;
  &.pull-left {
    margin-left: 0rem;
  }
  &.pull-right {
    margin-right: 0rem;
  }
  &:last-child {
    margin-bottom: 0;
  }
  img {
    object-fit: cover;
    display: flex;
    height: 100%;
    width: 100%;
    max-height: 30rem;
  }
  h2 {
    @include font-serif;
  }
  p {
    @include font-light;
    font-size: 1.3rem;
    color: $color-grey;
  }
  .area-1 {
    grid-area: area-1;

  }
  .area-2 {
    grid-area: area-2;
    // background: blue;
  }
  &.switch {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "media content";
    .content {}
    .media {}
  }
}












// Animated loader
.loader-wrap {
  .center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    .loader {
      &.blur {}
    }
  }
}


.circle {
  width: 50px;
  height: 50px;
  background-color: #fff;
  display: inline-block;
  border-radius: 50%;
  margin: 0 (50px / 3);
  box-shadow: 0 -5px 5px 1px rgba(0,0,0,0.2);
}

.circle-1 {
  background-color: #000;
  background: linear-gradient(tint(#000, -100%), tint(#ccc, 20%));
}

.circle-2 {
  background-color: #000;
  background: linear-gradient(tint(#000, -10%), tint(#33c, 30%));
}










// PROCESS
.process {
  // display: grid;
  // width: 100%;
  .step {
    margin: 0 0 4rem;
    display: grid;
    grid-template-columns: 3rem 1fr 1.25fr;
    grid-template-areas: "icon content-1 content-2";
    grid-gap: 2rem;
    p,li {
      color: $color-grey;
    }
    .icon {
      grid-area: icon;
      img {

      }
    }
    .content-1 {
      grid-area: content-1;
      h3 {

      }
      p {
        font-size: 1.3rem;
        @include font-light;
      }
    }
    .content-2 {
      padding: 6.5rem 0 0 4rem;
      grid-area: content-2;
      ul {
        // margin-top: 6.5rem;
        display: grid;
        grid-gap: 1rem / 0.5rem;
        grid-template-columns: repeat(2, 1fr);
        li {

        }
      }
    }
  }
}











// STICKY NAV
.sticky_nav {
  header.header_home {
    position: fixed;
    width: 100%;
    height: 5rem;
    // max-height: 5rem;

    top:0;
    left: 0;
    z-index: 999;
    background: #fff;
    .wrap {
      width: 100%;
      max-width: 100%;
      margin: 0;
      padding: 0 2rem;
      min-height: 4rem;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      grid-template-areas: "logotype navigation";
      .meta,.content,.mouse {
        display: none;
      }
      .logotype {
        display: flex;
        justify-content: flex-start;
        a {
          background-size: 2rem auto;
          background-position: 50% 50%;
        }
      }
      .navigation {
        display: flex;
        justify-content: flex-end;
      }
    }
    li {
      a {
        color: $color-base-3;
      }
    }

  }
}





.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  .card {
    // border: 0.5rem solid rgba(#fff, 0.0);
    padding: 2rem;
    text-align: center;
    background: linear-gradient(217deg, $color-green, $color-green-2 70.71%);
    color: #2c4b4b;
    .title {
      span {
        font-size: 8rem;
        @include font-medium;
        color: #fff;

      }
      h2 {
        @include font-serif;
        font-size: 1.8rem;
      }
    }
    p {}
  }
}

// Utility classes
.center-flex {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}











// @include media('>=tablet', '<desktop') {}
// @include media('>=phone', '<tablet') {}
// @include media('>=phone', '<desktop') {}



@include media('>=tablet', '<desktop') {}

@include media('>=phone', '<tablet') {
  body {
    overflow-x: hidden;
  }
  h2 {
    font-size: 1.8rem;
  }
  h4 {
    font-size: 0.9rem;
  }
  main {
    .wrap {
      grid-gap: 0.5rem;
      padding: 1.25rem;
    }
  }
  .headline {
    margin-left: 0rem;
  }
  .title_bar {
    .title {
      padding-left: 1.25rem;
      min-height: 5rem;
      h2 {
        // font-size: 1.4rem;
      }
      &:before {
        display: block;
        content: ' ';
        width: 0.2rem;
        position: absolute;
        top: 0.2rem;
        left: 0rem;
        height: 4rem;
        border-radius: 0.2rem;
        background: #222E39;
      }
    }
  }

  .split-content {
    display: grid;
    margin: 0rem 0rem 4rem;
    grid-template-columns: 1fr;
    grid-template-areas: "area-1" "area-2";
    grid-gap: 0;
    p {
      font-size: 1.1rem;
    }
  }

  .process {
    .step {
      margin: 0 0 3rem;
      grid-template-columns: 3rem 1fr;
      grid-template-areas:
      "icon content-1"
        ". content-2";
      grid-gap: 1rem;
      p,li {
      }
      .icon {
        img {

        }
      }
      .content-1 {
        grid-area: content-1;
        h3 {
        }
        p {
          font-size: 1.2rem;
          @include font-light;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      .content-2 {
        padding: 0rem 0 0 0rem;
        grid-area: content-2;
        ul {
          // margin-top: 6.5rem;
          display: grid;
          grid-gap: 1rem / 0.5rem;
          grid-template-columns: 1fr;
          li {

          }
        }
      }
    }
  }



  form {
    .fields {
      grid-template-columns: 1fr;
      grid-column-gap: 1rem;
    }
  }

}

@include media('>=phone', '<desktop') {}
