.page-contact {
  .wrap {
    .tabs-wrap {
      margin: 0 5rem;
      display: grid;
      grid-template-columns: 1fr 2fr;
    }
    .tabs {
      ul {

      }
      li {
      }
    }
    .tabs-content {}
  }
}
