footer {
  // background-color: $color-base-2;
  background-color: rgba($color-base-3, 0.4);
  border-top: 2px solid rgba($color-base-3,0.25);
  .wrap {
    display: grid;
    @include max-width;
    padding: 4rem 2rem;
    width: 100%;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-gap: 2rem;
  }
  menu {
    li:not(.client-featured) {
      display: none;
    }
  }
  h5 {
    font-size: 0.9rem;
  }
  p {
    max-width: 55ch;
    margin: 0 0 0.5rem;
    &:last-child {
      margin: 0;
    }
    &.muted {
      opacity: 0.7;
      font-size: 0.9rem;
    }
  }
  .logo {
    margin: 0 0 1rem;
  }
  .footer_upper {


  }
  .flex-end {
    // display: flex;
    // align-items: flex-start;
    // justify-content: flex-end;
    // flex-direction: column;
  }
  .wrap {


  }
  // .footer_lower {
  //   border-top: 2px solid rgba($color-base-3,0.25);
  //   .wrap {
  //     grid-template-columns: 1fr 1fr;
  //   }
  //   p:last-child {
  //     text-align: right;
  //   }
  //
  // }
}




// @include media('>=tablet', '<desktop') {}
// @include media('>=phone', '<tablet') {}
// @include media('>=phone', '<desktop') {}


@include media('>=tablet', '<desktop') {}
@include media('>=phone', '<tablet') {
  footer {
    .wrap {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-gap: 1rem;
      padding: 2rem 1.25rem;
      grid-template-areas:
        "company"
        "work"
        "products"
        "signoff";

      .signoff {
        grid-area: signoff;
      }
      .links-company {
        grid-area: company;
      }
      .links-work {
        grid-area: work;
      }
      .links-products {
        grid-area: products;
      }
    }
    p {
      max-width: 55ch;
    }
  }
}
@include media('>=phone', '<desktop') {

}
