header {
  display: grid;
  overflow: hidden;
  .wrap {
    display: grid;
    @include max-width;
    padding: 2rem;
    grid-template-columns: 3rem 1rem 1fr 3rem;
    grid-template-rows: 3rem;
    grid-template-areas:
      "logotype navigation navigation navigation";
    grid-gap: 2rem;
    transition: 0.5s all; // animates when breakpoint hit
  }
  .logotype {
    grid-area: logotype;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      display: block;
      width: 2.5rem;
      height: 2.5rem;
      background: url(~assets/images/logos/logotype.svg) 50% 0% no-repeat;
      background-size: 2.25rem auto;
      text-indent: -999rem;
    }
  }
  .navigation {
    grid-area: navigation;
    display: flex;
    justify-content: flex-end;
  }
  &.header_home {
    .wrap {
      min-height: 100vh;
      grid-template-columns: 3rem 1fr 3rem;
      grid-template-rows: 3rem 3rem auto 3rem;
      grid-template-areas:
        // "logotype . meta"
        // ". navigation meta"
        // ". content ."
        // ". mouse .";
        "logotype navigation navigation" ". . meta" ". content meta" "mouse . meta";
    }
    .navigation {
      // justify-content: flex-start;
    }
    .mouse {
      grid-area: mouse;
      display: flex;
      justify-content: center;
      align-items: center;
      a.icon-mouse {
        display: block;
        width: 3rem;
        height: 100%;
        text-indent: -999rem;
        background: url(~assets/images/icons/mouse.svg) 50% 50% no-repeat;
        background-size: 3.75rem 3.5rem;
      }
    }
    .meta {
      grid-area: meta;
      position: relative;
      display: flex;
      align-items: flex-end;
      .social-icons {
        width: 100%;
        margin: 0 auto;
        a {
          display: block;
          margin: 0 0 0.5rem;
          text-indent: -999rem;
          display: block;
          width: 100%;
          height: 2.2rem;
          background-position: 50% 50%;
          background-size: auto 1.8rem;
          background-repeat: no-repeat;
          transform: all 0.3s easeInOut;
          &:hover {
            background-size: auto 2.1rem;
          }
          // images declared in _icons.scss
        }
      }
      .text {
        position: absolute;
        // bottom: 15.75rem;
        // left: -8.55rem;
        transform: rotate(90deg);
        bottom: 9.5rem;
        left: -8.6rem;
        width: 20rem;
        font-size: 0.9rem;
        opacity: 0.7;
      }
    }
    .content {
      grid-area: content;
      display: flex;
      // align-items: flex-end;
      justify-content: flex-start;
      flex-direction: column;
      padding: 2rem 0 0;
      article {
        max-width: 55ch;
        min-width: 50ch;
        p {
          font-size: 1.5rem;
          @include font-light;
        }
      }
    }

  }

  &.header_theme {
    .wrap {
      // min-height: 100vh;
      grid-template-columns: 3rem 1fr 3rem;
      grid-template-rows: 3rem 3rem auto 3rem;
      grid-template-areas:
        "logotype . meta"
        ". navigation meta"
        ". content ."
        ". . mouse";
    }
    .navigation {
      justify-content: flex-start;
    }
    .mouse {
      grid-area: mouse;
      display: flex;
      justify-content: center;
      align-items: center;
      a.icon-mouse {
        display: block;
        width: 3rem;
        height: 100%;
        text-indent: -999rem;
        background: url(~assets/images/icons/mouse.svg) 50% 50% no-repeat;
        background-size: 3.75rem 3.5rem;
      }
    }
    .meta {
      grid-area: meta;
      position: relative;
      display: flex;
      // align-items: flex-end;
      .social-icons {
        width: 100%;
        margin: 0 auto;
        a {
          display: block;
          margin: 0 0 0.5rem;
          text-indent: -999rem;
          display: block;
          width: 100%;
          height: 2.2rem;
          background-position: 50% 50%;
          background-size: auto 1.8rem;
          background-repeat: no-repeat;
          transform: all 0.3s easeInOut;
          &:hover {
            background-size: auto 2.1rem;
          }
          // images declared in _icons.scss
        }
      }
      .text {
        position: absolute;
        top: 15.75rem;
        left: -8.55rem;
        transform: rotateZ(90deg);
        width: 20rem;
        font-size: 0.9rem;
        opacity: 0.7;
      }
    }
    .content {
      grid-area: content;
      display: flex;
      // align-items: flex-end;
      justify-content: flex-start;
      flex-direction: column;
      padding: 2rem 0 0;
      article {
        max-width: 55ch;
        min-width: 50ch;
        p {
          font-size: 1.2rem;
        }
      }
    }

  }

}


// @include media('>=tablet', '<desktop') {}
// @include media('>=phone', '<tablet') {}
// @include media('>=phone', '<desktop') {}




// RESPONSIVE

@include media('>=tablet', '<desktop') {



}

@include media('>=phone', '<tablet') {

  header {
    .wrap {
      grid-gap: 0.5rem;
      padding: 1.25rem;
      max-width: 100%;

      grid-template-rows: 3rem 3rem auto;

      // grid-template-columns: 1fr 2rem;
      // grid-template-areas: "logotype ." "navigation navigation" "content content";

      grid-template-columns: 3rem 1fr 2rem;
      grid-template-areas: "logotype . ." "navigation navigation navigation" "content content content";

      .logotype {
        justify-content: flex-start;
        a {
          // width: 2rem;
          // height: 2rem;
          // background-size: 1.85rem auto;
        }
      }
      .content {
        article {
          min-width: auto;
          // max-width: 100%;
          // min-width: auto;
          p {
            font-size: 1.2rem;
          }
        }
      }
      .navigation {
        // display: none;
        justify-content: flex-start;
        li {
          margin: 0 0.75rem 0 0;
          a {
            font-size: 0.7rem;
          }
          &:last-child {
            margin-right: 0rem;
          }
        }
      }
    }
    &.header_home {
      .wrap {
        min-height: 70vh;
        grid-template-columns: 1fr 2rem;
        grid-template-rows: 3rem 3rem 1fr 3rem;
        grid-template-areas: "logotype ." "navigation navigation" "content content" "mouse meta";
        .content {
          article {

          }
        }
      }
      .mouse {
        justify-content: flex-start;
        a.icon-mouse {
          background-position: 100% 50%;
        }
      }
      .meta {
        align-items: flex-end;
        justify-content: flex-end;
        .text {
          text-align: right;
          top: auto;
          bottom: 16rem;
          left: -9rem;
          display: none;
        }
        .social-icons {

        }
      }
    }
  }

}


@include media('>=phone', '<desktop') {

}
