main {
  .wrap {
    display: grid;
    @include max-width;
    padding: 2rem;
    article {
      .title {
        max-width: 60ch;
        h1 {}
        p {
          // font-size: 1.3rem;
          font-size: 1.5rem;
          @include font-light;
          color: $color-grey;
        }
      }
    }
  }
}

.content_section {
  padding: 2rem 0;
  .text {
    grid-area: text;
    p {
      &:last-child {
        margin-bottom: 0.5rem;
      }
    }
  }
  &.half_first {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "text .";
    .text {
      border-right: 3px solid $color-base-3;
      padding-right: 4rem;
    }
  }
  &.half_last {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: ". text";
    .text {
      border-left: 3px solid $color-base-3;
      padding-left: 4rem;
    }
  }
  &.content_image {
    img {
      display: block;
      margin-bottom: 2rem;
      &:last-child {
        margin-bottom: 0rem;
      }
    }
  }
  &.content_icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem 0rem 2rem;
    padding: 4rem 0;
    background-color: $color-base-2;
    div {
      margin: 0 0.1rem;
      width: 7rem;
      height: auto;
      text-align: center;
      padding: 1rem;
      background-color: $color-base;
      img {
        margin: 0 0 0.5rem;
        width: 4rem;
      }
      span {
        display: block;
        margin: 0;
        color: $color-base-5;
      }
    }
  }
  &.content_quote {
    margin: 0rem 0rem 2rem;
    padding: 4rem 0;
    background-color: $color-base-2;
    display: flex;
    justify-content: center;
    align-items: center;
    blockquote {
      width: 30rem;
      padding: 3rem;
      background-color: $color-green-2;
      color: #fff;
      p {
        margin: 0 0 1rem;
        @include font-light;
        font-weight: normal;
        font-style: normal;
        font-size: 1.4rem;
      }
      cite {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-style: normal;
        img {
          margin: 0 1rem 0 0;
          border-radius: 50%;
          width: 2.5rem;
          height: 2.5rem;
          border: 2px solid $color-green;
        }
        span {
          strong {

          }
        }
      }
    }
  }
}

// .about-short {
//   background-color: $color-base-2;
// }

section.case {
  padding: 4rem 0;
  background-color: $color-base-2;
  border-top: 2px solid rgba($color-base-3,0.25);
  border-bottom: 2px solid rgba($color-base-3,0.25);
}

section.services {
  padding: 4rem 0;
  overflow: hidden;

  // background-color: #835e7d;
  .wrap {
    // padding: 4rem 0;
    display: grid;
    // min-height: 80vh;
    grid-template-columns: 3rem 1fr 1fr;
    grid-template-areas: "meta design_code .";
    grid-template-rows: 100%;
    grid-gap: 2rem;
    // align-items: center;
    .meta {

    }
    .design_code {
      grid-area: design_code;
      position: relative;
      margin: 0 0 30rem;
      &:before {
        display: block;
        content: ' ';
        width: 3rem;
        position: absolute;
        top: 0.65rem;
        left: -5rem;
        height: 0.2rem;
        border-radius: 0.2rem;
        background: $color-base-3;
      }
    }
    .graphic {
      position: absolute;
      bottom: 0;
      right: -5%;
      width: 50%;
      height: 70%;
      display: block;
      background-size: 100% auto;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-image: url(~assets/images/backgrounds/bg-pattern-04.png);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-decoration: none;
      transition: 0.7s all;
      h4 {
        color: $color-green;
        &:before {
          content: ' ';
          display: block;
          width: 2rem;
          height: 0.2rem;
          background-color: $color-base-3;
          position: relative;
          top: -1rem;
          left: 50%;
          margin-left: -1rem;
        }
      }
      h2 {}
      img {
        display: block;
        width: 1.5rem;
        height: 1.5rem;
        transition: 0.3s all;
      }
      .graphic-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: 0.7s all;
      }
      &:hover {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        .graphic-content {
          -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
        }
        h2 {
          text-decoration: underline;
        }
        img {
          width: 2rem;
          height: 2rem;
          position: relative;
          top: 0.5rem;

        }
      }
    }
    // .engineering {
    //   grid-area: engineering;
    // }
    .design,
    .engineering {
      max-width: 50ch;
    }
    h4 {
      color: $color-green;
    }
    p {
      font-size: 1.3rem;
    }
    li {
      font-size: 1.1rem;
    }
  }
}


// Callout
section.call {
  padding: 0 0 2rem;
}



section.features {
  background-color: $color-base-2;
  border-top: 2px solid rgba($color-base-3,0.25);
  border-bottom: 2px solid rgba($color-base-3,0.25);
}

@include media('>=tablet', '<desktop') {}
@include media('>=phone', '<tablet') {
  .content_section {
    &.half_first,
    &.half_last {
      grid-template-columns: 1fr;
      grid-template-areas: "text";
      .text {
        padding-left: 0rem;
        padding-right: 0rem;
        border-left: none;
        border-right: none;
      }
    }
    &.content_icons {
      padding: 0.5rem;
      display: grid;
      grid-gap: 0.5rem;
      grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
      div {
        max-width: auto;
        width: auto;
        padding: 0 0 0.5rem;
        img {
          margin: 0.5rem;
          width: 2.8rem;
        }
        span {
          font-size: 0.8rem;
          // padding: 0
        }
      }
    }
  }
}
@include media('>=phone', '<desktop') {}

// @include media('>=tablet', '<desktop') {}
// @include media('>=phone', '<tablet') {}
// @include media('>=phone', '<desktop') {}
