
.callout {
  padding: 4rem 0;
  @include max-width;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .block {
    padding: 2rem;
    // background: rgba(0, 0, 0, 0.46);
    // border: 1px solid rgba(255,255,255,0.3);
    // border-radius: 1px;
  }
  &.squish {
    padding: 4rem 4rem;
  }
  &.duo {
    .wrap {
      padding: 2rem;
      grid-template-columns: 1fr 1fr;
      grid-gap: 2rem;

    }
  }
  &.trio {
    .wrap {
      padding: 2rem;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 2rem;
    }
  }
  .images {
    margin: 0 0 2rem;
    .image {
      margin: 0 0.5rem;
    }
  }
}
@include media('>=tablet', '<desktop') {}
@include media('>=phone', '<tablet') {
  .callout {
    // padding: 2.5rem 0 0;
    &.duo,
    &.trio {
      .wrap {
        padding: 2rem;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
      }
    }
  }
}
@include media('>=phone', '<desktop') {}
