.case_study {
  display: grid;
  grid-template-columns: 1fr 3rem;
  grid-template-rows: auto;
  grid-template-areas: "title action" "media media";
  grid-gap: 2rem;
  .title {
    grid-area: title;
    position: relative;
    padding-left: 5rem;
    &:before {
      display: block;
      content: ' ';
      width: 3rem;
      position: absolute;
      top: 0.65rem;
      left: 0rem;
      height: 0.2rem;
      border-radius: 0.2rem;
      background: $color-base-3;
    }
    h4 {
      color: $color-green;
      margin: 0 0 0.75rem;
    }
    h2 {
      @include font-serif;
      font-size: 1.7rem;
    }
    a {
      text-decoration: none;
      &:hover {
        text-decoration: none;
        border-bottom: 3px solid $color-green;
      }
    }
  }
  .action {
    display: flex;
    grid-area: action;
    width: 3rem;
    // min-height: 6rem;
    // background: rgba(229, 244, 202, 0.51);
    justify-content: center;
    position: relative;
    img {
      display: block;
      width: 1.5rem;
      height: 1.5rem;
    }
    .text {
      position: absolute;
      top: 2.7rem;
      right: 0.6rem;
      // margin-right: -1.5rem;
      transform: rotate(90deg);
    }
  }
  .media {
    display: block;
    grid-area: media;
    max-height: 37rem;
    overflow: hidden;
    border-radius: 0.15rem;
    img {
      object-fit: cover;
      object-position: top;
    }
  }
}
