.case_study_list {
  padding: 5rem;
  .case_study {
    position: relative;
    display: flex;
    width: auto;
    height: 30vw;
    border: 1rem solid rgba(0,0,0,0.2);
    img {
      object-fit: cover;
      object-position: top left;
    }
    .info {
      opacity: 0;

      position: absolute;
      right: -1rem;
      top: -1rem;

      width: 15rem;
      // background: $color-green-2;
      background: $color-base-3;
      padding: 2rem;
      transition: 0.5s all;
      box-shadow: -0.5rem 0.5rem 0rem rgba(49,146,143,0.1);
      // border-radius: 0.15rem;
      h3 {
        font-size: 1.5rem;
        @include font-light;
        line-height: 1;
      }
      h4 {
        font-size: 0.7rem;
        @include font-demibold-upper;
      }
    }
    &:hover {
      .info {
        opacity: 1;
      }
    }
  }
  &.as_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 2vw;
  }
}
.case_study {

  .info {

  }
  img {
    object-fit: cover;
  }
}
a.case_study {
  &:hover {

  }
}





.client_logos {
  .client_list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    grid-template-rows: auto;
    grid-gap: 0.5rem;
    li {
      display: flex;
      height: 10rem;
      margin: 0;
      justify-content: center;
      align-items: flex-end;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: 5rem auto;
      background-color: rgba($color-base-3,0.3);
      transition: 0.3s all; // animates when breakpoint hit
      a,span {
        display: none;
        color: $color-base-4;
        transition: 0.3s all; // animates when breakpoint hit
      }
      a {
        padding: 0 0 0rem;
      }
      span {
        padding: 0 0 0.5rem;
      }
      &:hover {
        span,a {
          display: flex;
        }
      }
    }
    .client-aol         { background-image: url(~assets/images/client-logos/logo-aol@2x.png); }
    .client-cox         { background-image: url(~assets/images/client-logos/logo-cox@2x.png); }
    .client-directv     { background-image: url(~assets/images/client-logos/logo-directv-light@2x.png); }
    .client-ebookers    { background-image: url(~assets/images/client-logos/logo-ebookers@2x.png); }
    // .client-eggbank     { background-image: url(~assets/images/client-logos/logo-aol@2x.png); }
    // .client-essque      { background-image: url(~assets/images/client-logos/logo-aol@2x.png); }
    .client-expedia     { background-image: url(~assets/images/client-logos/logo-expedia@2x.png); }
    .client-fordasia    { background-image: url(~assets/images/client-logos/logo-ford@2x.png); }
    .client-hgtv        { background-image: url(~assets/images/client-logos/logo-hgtv@2x.png); }
    // .client-huntsman    { background-image: url(~assets/images/client-logos/logo-aol@2x.png); }
    .client-ikea        { background-image: url(~assets/images/client-logos/logo-ikea@2x.png); }
    .client-lastminute  { background-image: url(~assets/images/client-logos/logo-last@2x.png); }
    .client-mhe         { background-image: url(~assets/images/client-logos/logo-mhe@2x.png); }
    .client-nashville   { background-image: url(~assets/images/client-logos/logo-nashville@2x.png); }
    .client-nike        { background-image: url(~assets/images/client-logos/logo-nacg@2x.png); }
    // .client-otg         { background-image: url(~assets/images/client-logos/logo-aol@2x.png); }
    .client-ovation     { background-image: url(~assets/images/client-logos/logo-ovation@2x.png); }
    // .client-snow        { background-image: url(~assets/images/client-logos/logo-aol@2x.png); }
    .client-shangrila   { background-image: url(~assets/images/client-logos/logo-shangrila-light@2x.png); }
    .client-street      { background-image: url(~assets/images/client-logos/logo-streetattack@2x.png); }
    // .client-tiara       { background-image: url(~assets/images/client-logos/logo-tiara@2x.png); }
    // .client-ucla        { background-image: url(~assets/images/client-logos/logo-ucla@2x.png); }
    // .client-vonholz     { background-image: url(~assets/images/client-logos/logo-vonholzhausen@2x.png); }
  }
  &.hide_active {
    .client-featured {
      display: none;
    }
  }
  &.hide_nonhome {
    .client_list {
      li {
        display: none !important;
        &.client-home {
          display: flex !important;
        }
      }
    }
  }
}


.client-featured {

}
.client-casestudy {}

.client_list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  a {
    // display: block;
    // background: red;
    margin: 0 0 0.5rem;
  }
}



// @include media('>=tablet', '<desktop') {}
// @include media('>=phone', '<tablet') {}
// @include media('>=phone', '<desktop') {}


@include media('>=tablet', '<desktop') {}
@include media('>=phone', '<tablet') {
  .client_logos {
    .client_list {
      grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
      li {
        background-position: 50% 35%;
        background-size: 3rem auto;
        height: 7rem;
        a,span {
          font-size: 0.7rem;
          text-align: center;
        }
      }
    }
  }
}
@include media('>=phone', '<desktop') {}
