// Forms

form {
  .field {
    padding: 1.5rem 0 0;
    // border-top: 0.25rem solid $color-base-2;
    label {
      display: flex;
      margin: 0 0 1rem;
      @include font-demibold-upper;
      color: $color-base-5;
      font-size: 0.85rem;
      letter-spacing: 0.05rem;
    }
    &:first-child {
      // border-top: none;
    }
  }

  input,
  textarea {
    max-width: 55ch;
  }
  input {
    transition: 0.3s all;
    &:hover {
      // border: 2px solid #fff;
    }
    &:focus {
      border: 2px solid $color-green;
    }
    &:active {
      border: 2px solid #fff;
    }
    &:visited {
      // border: 2px solid #fff;
    }

  }
}



.error-field {
  p {
    display: inline-flex;
    padding: 0.5rem 1rem;
    // justify-content: center;
    // align-items: center;
    border-radius: 0.2rem;
      background-color: #fff;
      border: 1px solid #fff;
    &.has-text-danger {
      background-color: #cc0043;
      border-color: #e6175b;
    }
  }

}







// Animated button
.anim-button {
  display: block;
  height: 60px;
  // margin: 0 auto;
  // position: relative;
  // top: 50%;
  // transform: translateY(-50%);
  width: 320px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  .shape {
    fill: transparent;
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
    stroke: #19f6e8;
  }
  .text {
    color: #fff;
    @include font-demibold-upper;
    font-size: 1.2rem;
    letter-spacing: 0.075rem;
    line-height: 2rem;
    position: relative;
    top: -3.1rem;
  }
  &:hover {
    .shape {
      -webkit-animation: 0.5s draw linear forwards;
      animation: 0.5s draw linear forwards;
    }
  }
  &.small {
    .text {
      color: #fff;
      @include font-demibold-upper;
      font-size: 1rem;
      letter-spacing: 0.075rem;
      line-height: 2rem;
      position: relative;
      top: -3.1rem;
    }
    &:hover {
      .shape {

      }
    }
  }
}


@keyframes draw {
  0% {
  	stroke-dasharray: 140 540;
  	stroke-dashoffset: -474;
  	stroke-width: 8px;
  }
  100% {
  	stroke-dasharray: 760;
  	stroke-dashoffset: 0;
  	stroke-width: 2px;
  }
}



// FORMS

// PRICING FORM
.option_fields {}
.total-estimate {}
.email-estimate {}
.email-notification {}


// CONTACT FORM
