menu,ul {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    margin: 0 0 0.5rem;
    a {
      text-decoration: none;
      &:hover {
        border-bottom: 3px solid $color-base-5;
      }
    }
  }
}
header {
  menu {
    display: flex;
    align-items: center;
    width: auto;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin: 0 1.5rem 0 0;
      a {
        text-decoration: none;
        @include font-medium-upper;
        font-size: 0.85rem;
        letter-spacing: 0.02rem;
        &:before {
          display: block;
          width: 100%;
          height: 0.2rem;
          background: transparent;
          border-radius: 0.2rem;
          position: relative;
          top: -0.5rem;
          content: ' ';
          transition: 0.2s all;
        }
        &.is-active {
          @include font-demibold-upper;
          font-weight: 600;
          &:before {
            background-color: #fff;
          }
        }
        &:hover {
          text-decoration: none;
          border-bottom: none;
          &:before {
            background-color: $color-green;
          }
        }
      }
      &:last-child {
        margin: 0;
        a {}
      }
      &.with-icon {
        &.icon-buy {}
      }
      &.navbar-services {}
      &.navbar-products {}
      &.navbar-work {}
      &.navbar-about {}
      &.navbar-gettingstarted {}
      &.navbar-features {}
      &.navbar-support {}
      &.navbar-buy {}
    }
  }

}
