.tabs {
  ul {
    width: auto;
    display: flex;
    flex-direction: column;
    li {
      margin: 0 0 0 0;
      a {
        display: flex;
        color: $color-grey;
        background-color: $color-base-2;
        @include font-medium;
        padding: 1rem 1.5rem;
        border-radius: 0.3rem 0.3rem 0 0;
        font-size: 1.2rem;
        &:hover {
          text-decoration: none;
          border-bottom: none;
        }
      }
      &.is-active {
        a {
          // border-bottom-color: $color-base;
          // border-color: $color-base-3;
          color: $color-green;
        }
      }
    }
  }
}

.tabs-content {
  padding: 1rem 0rem;
  input,textarea {
    // background: #fff;
    // border-color: #e7e7e7;
    // color: $color-base;

  }
  label.checkbox,
  label.radio {
    margin: 0 0 0.2rem;
    border-radius: 0.2rem;
    &:hover {
      color: #fff;
      background-color: $color-green-3;
    }
  }
  .button {
    // color: $color-base;
    &:hover {
      // color: #fff;
    }
  }
  .error-field p.has-text-danger {
    color: #fff;
    border-color: #ae1145;
  }
  .fields.three {
    grid-template-columns: 1fr;
  }
}

.tabs-wrap {
  .tabs {
    // margin-right: 2rem;
  }
  .tabs-content {}
}

// @include media('>=tablet', '<desktop') {}
// @include media('>=phone', '<tablet') {}
// @include media('>=phone', '<desktop') {}
