.tabs {
  padding: 0 0 0rem 0;
  border-bottom: 3px solid $color-base-2;
  ul {
    width: auto;
    // display: flex;
    // flex-direction: column;
    display: inline-flex;
    flex-direction: row;
    li {
      margin: 0 1rem 0 0;
      a {
        display: flex;
        color: $color-grey;
        background-color: $color-base-2;
        @include font-medium;
        padding: 1rem 1.5rem;
        border-radius: 0.3rem 0.3rem 0 0;
        font-size: 1.2rem;
        &:hover {
          text-decoration: none;
          border-bottom: none;
        }
      }
      &.is-active {
        a {
          // border-bottom-color: $color-base;
          // border-color: $color-base-3;
          color: $color-green;
        }
      }
    }
  }
}

.tabs-content {
  padding: 1rem 0rem;
  input,textarea {
    // background: #fff;
    // border-color: #e7e7e7;
    // color: $color-base;

  }
  label.checkbox,
  label.radio {
    margin: 0 0 0.2rem;
    border-radius: 0.2rem;
    &:hover {
      color: #fff;
      background-color: $color-green-3;
    }
  }
  .button {
    // color: $color-base;
    &:hover {
      // color: #fff;
    }
  }
  .error-field p.has-text-danger {
    color: #fff;
    border-color: #ae1145;
  }
  .fields.three {
    grid-template-columns: 1fr;
  }
}

.tabs-wrap {
  .tabs {
    // margin-right: 2rem;
  }
  .tabs-content {}
}


.tabs-wrap {}

.tabs-content {}

@include media('>=tablet', '<desktop') {}
@include media('>=phone', '<tablet') {

  .tabs {
    ul {
      display: flex;
      // width: 100%;

      li {
        margin: 0;
        a {
          margin: 0 0 1rem;

          font-size: 0.9rem;
          padding: 0.6rem 1rem;
          &:hover {
            background-color: $color-green;
            color: #fff;
          }
        }
        &.is-active {
          a {
            background-color: $color-base-3;
          }
        }
        &:first-child {
          a {
            border-radius: 0.3rem 0 0 0.3rem;
          }
        }
        &:last-child {
          a {
            border-radius: 0 0.3rem 0.3rem 0;
          }
        }
      }
    }
  }

}
@include media('>=phone', '<desktop') {}
