.team-headshots {
  display: inline-flex;
  justify-content: space-between;
  width: auto;
  // margin: 1rem 0 0;
  margin: 3rem 0 0 -115px;
  img {
    display: block;
    margin: 0 1rem 0 0;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    border: 3px solid $color-base-3;
    cursor: pointer;
    transition: 0.5s all;
    &:hover {
      border-color: $color-green;
    }
  }
}

@include media('>=tablet', '<desktop') {}
@include media('>=phone', '<tablet') {}
@include media('>=phone', '<desktop') {}
