.team-members {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
  grid-gap: 0.5rem;
  .team-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: $color-base-2;
    padding: 1.5rem 1rem;
    img {
      margin: 0 0 1rem;
      border-radius: 50%;
      max-width: 6rem;
      max-height: 6rem;
      border: 0.2rem solid $color-base-3;
    }
    h3 {
      margin: 0 0 0.5rem;
      color: $color-grey-2;
      @include font-medium;
    }
    p {
      margin: 0;
      color: $color-base-5;
    }
  }
}

// @include media('>=tablet', '<desktop') {}
// @include media('>=phone', '<tablet') {}
// @include media('>=phone', '<desktop') {}
