
// Pre-animation states
// header .content h1,
// header .content p,
// header .content .images,
// header .mouse,
// main,
// footer {
//   opacity: 0;
//   position: relative;
//   top: 40px;
// }
// header .navigation {
//   opacity: 0;
//   position: relative;
//   top: -40px;
// }
header .logotype,
header .navigation,
header .meta,
header .content,
header .mouse,
main,
footer {
  opacity: 0;
  position: relative;
  top: -40px;
}
