
// Pre-animation states
header .logotype,
header .navigation,
header .content,
header .meta,
header .mouse,
main,
footer {
  opacity: 0;
  position: relative;
  top: -40px;
}
// .headline h1 {
//   opacity: 0;
//   position: relative;
//   left: -40px;
// }

// header .navigation li {
//   position: relative;
//   opacity: 0;
//   top: -100px;
// }
