

$color-base: #16191C;
$color-base-2: #181E23;
$color-base-3: #222E39;
$color-base-4: #414f5d;
$color-base-5: #6c7b88;

$color-grey: #979FA6;
$color-grey-2: #D7DBDF;
$color-grey-3: #F5F5F5;

$color-green: #09CBC4;
$color-green-2: #03aba5;
$color-green-3: #008f8a;

$color-link: #0a2ec6;
$color-link-hover: #0f32e7;
$color-link-active: #305bf5;
$color-link-reverse: #6989ff;

$color-sand: #f6f7ef;
$color-sand-2: #e5e7db;
$color-sand-3: #bbbdb0;
$color-sand-4: #60615d;
